%section.about#about
  .container
    .row
      .col-12.col-lg-6
        .about__info
          %h3.text-left.text-uppercase How it works
          %p.mb-0.py-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempora a voluptas labore nesciunt aperiam eos natus provident similique, totam, dolorum nam repellendus ratione, ut. Aspernatur dignissimos vel neque voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa cumque doloremque velit odio, recusandae.
          %button.btn.btn-outline-dark.m-0.text-uppercase{:type => ""} Learn more
      .col-12.col-md-10.col-lg-6
        .about__image
          .image{:style => "background-image: url('assets/img/background-parent.jpg');"}
          .image-child{:style => "background-image: url('assets/img/background-child.jpg');"}
