%meta{charset: "UTF-8"}
%meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}
%title Atlassian - Landing Page
%link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}
%link{rel: "stylesheet", href:"assets/css/sweetalert2.min.css"}
%link{rel: "stylesheet", href:"assets/css/styles.css"}
%link{:href => "assets/img/favicon.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/


