%section.home#home
	.container
		.row
			.col-12.col-md-8.offset-md-2
				.home__info
					%h1.text-center.text-uppercase.pt-4.mb-0 Best headline in the world
					%p.mb-0.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum urna felis, dictum dictum erat condimentum sit amet. Cras vel est bibendum, Cras vel est bibendum, posuere orci quis, consequat nisl.
					.row
						.col-12.col-md-4.offset-md-4
							%center
								%button.btn.btn-outline-dark.m-0.btn-block.text-uppercase{:type => ""} Cta button
			
			.col-12.col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
				.home__image
					.image{:style => "background-image: url('assets/img/about.jpg');"}