%section.plataform#plataform
	.container
		.row
			.col-12
				.plataform__info
					%h3.text-center.text-uppercase.mb-0 Why use our platform
					%p.mb-0.py-4.text-center Leam more how to use our product and sing up to our newsletter.
			.col-12
				.plataform__feautures
					.row
						.col-12.col-sm-6.col-md-6.col-lg-4
							.plataform__feautures--box.align-items-center.d-flex.flex-nowrap-flex-row.justify-content-center 
								.plataform__feautures--box--icon.align-items-center.d-flex.justify-content-center{:style => "background-image: url('assets/img/calendar.svg');"}
								.plataform__feautures--box--info
									%h6.mb-0.text-left.text-uppercase Features #1
									%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col-12.col-sm-6.col-md-6.col-lg-4
							.plataform__feautures--box.align-items-center.d-flex.flex-nowrap-flex-row.justify-content-center 
								.plataform__feautures--box--icon.align-items-center.d-flex.justify-content-center{:style => "background-image: url('assets/img/chart.svg');"}
								.plataform__feautures--box--info
									%h6.mb-0.text-left.text-uppercase Features #2
									%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col-12.col-sm-6.col-md-6.col-lg-4
							.plataform__feautures--box.align-items-center.d-flex.flex-nowrap-flex-row.justify-content-center 
								.plataform__feautures--box--icon.align-items-center.d-flex.justify-content-center{:style => "background-image: url('assets/img/chat.svg');"}
								.plataform__feautures--box--info
									%h6.mb-0.text-left.text-uppercase Features #3
									%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col-12.col-sm-6.col-md-6.col-lg-4
							.plataform__feautures--box.align-items-center.d-flex.flex-nowrap-flex-row.justify-content-center 
								.plataform__feautures--box--icon.align-items-center.d-flex.justify-content-center{:style => "background-image: url('assets/img/diagram.svg');"}
								.plataform__feautures--box--info
									%h6.mb-0.text-left.text-uppercase Features #4
									%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col-12.col-sm-6.col-md-6.col-lg-4
							.plataform__feautures--box.align-items-center.d-flex.flex-nowrap-flex-row.justify-content-center 
								.plataform__feautures--box--icon.align-items-center.d-flex.justify-content-center{:style => "background-image: url('assets/img/globe.svg');"}
								.plataform__feautures--box--info
									%h6.mb-0.text-left.text-uppercase Features #5
									%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col-12.col-sm-6.col-md-6.col-lg-4
							.plataform__feautures--box.align-items-center.d-flex.flex-nowrap-flex-row.justify-content-center 
								.plataform__feautures--box--icon.align-items-center.d-flex.justify-content-center{:style => "background-image: url('assets/img/shield.svg');"}
								.plataform__feautures--box--info
									%h6.mb-0.text-left.text-uppercase Features #6
									%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

