%script{:src => "assets/js/jquery-3.4.1.min.js"}
%script{:src => "assets/js/googlefontAsync.js"}
%script{:src => "assets/js/popper.min.js"}
%script{:src => "assets/js/bootstrap.min.js"}
%script{:src => "assets/js/jquery.Rut.js"}
%script{:src => "assets/js/jquery.validate.min.js"}
%script{:src => "assets/js/sweetalert2.all.min.js"}
%script{:src => "assets/js/api.js"}
%script{:src => "assets/js/settings.js"}
