// about
.about{
  padding: 80px 0;
  background-color: $bg-color-about;
  &__info{
    h3{
       font-family: $font-primary;
      color: $color-title;
    }
    p{
      font-family: $font-secondary;     
      line-height: 1.8;
      color: $color-title;
    }
    button{
       color: $color-button;
       border-color: $color-border-button;
       border-width: 2px;
       font-family: $font-primary;
       font-weight: 500;
       transition: 1s all;
       box-shadow: none;
       outline: none;
      &:hover{
       box-shadow: none;
       outline: none;
       color: white;
       border-color: $color-border-button;
       background-color: $color-border-button;
      }
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
  }
  &__image{
    position: relative;
    width: 100%;
    height: 300px;    
    @include respond-to(xs){
      margin-top: 40px;
      height: 200px;
    }
    @include respond-to(sm){
      margin-top: 40px;
    }
    @include respond-to(md){
      margin-top: 40px;
    }
	  .image{
      position: absolute;
      left: 10px;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 80%;
      height: 300px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;    
      @include respond-to(xs){
        left: 0;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }  
      @include respond-to(sm){
        left: 5;
      }        
	}
  .image-child{
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 40%;
    right: 10px;
    background-color: #cacaca;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    @include respond-to(xs){
      right: 0;
      height: 100px;
    }
    @include respond-to(sm){
        left: 5;
    }  
    }    
 } 	
}





